{% extends "base.html" %}
{% block titulo %}
Prtoductos
{% endblock  %}
{% block contenido %}
   <h1>Productos</h1>
   {%if user.is_authenticated%}
   <a href="{%url 'creaProducto'%}">Nuevo</a>
   {%endif%}
   <table>
   	<thead>
   		<tr>
            <td>Imagen</td>
   			<td>Nombre</td>
   			<td>Tipo</td>
   			<td>Presentacion</td>
   			<td>Precio</td>
   		</tr>
   	</thead>
   	<tbody>
   		{%for ele in productos%}
   		<tr>
            <td><img src="{%if ele.imagen%}{{ele.imagen.url}}{%endif%}" alt="Foto del producto"/></td>
   			{%if user.is_authenticated%}
   			<td><a href="{%url 'editarProducto' ele.id%}">{{ele.nombre}}</a></td>
   			{%else%}
   			<td>{{ele.nombre}}</td>
   			{%endif%}
   			<td>{{ele.get_tipo_display}}</td>
   			<td>{{ele.presentacion}}</td>
   			<td>{{ele.precio}}</td>
   		</tr>
   		{%endfor%}
   	</tbody>
   </table>
{% endblock  %}